@model CifrOblako1.Models.Product

<form method="post" asp-action="Create">
    <div class="border p-4">

        @*<div asp-validation-summary="ModelOnly" class="text-danger"></div>*@
        <div class="form-group row">
            <h2 class="text-info pl-3">Добавить Услугу</h2>
        </div>
        <div class="row">
            <div class="col-10">
                <div class="form-group row" style="margin-bottom:5px">
                    <div class="col-4">
                        <label >Название</label>
                    </div>
                    <div class="col-8">
                        <input asp-for="Name" class="form-control w-100" />
                        <span asp-validation-for="Name" class="text-danger"></span>
                    </div>

                </div>
                <div class="form-group row" style="margin-bottom:10px">
                    <div class="col-4">
                        <label>Цена</label>
                    </div>
                    <div class="col-8">
                        <input asp-for="Price" class="form-control w-100" />
                        <span asp-validation-for="Price" class="text-danger"></span>
                    </div>

                </div>
                <div class="form-group row">
                    <div class="col-8 offset-4 row">

                        <div class="col">
                            <a asp-action="Index">
                                <input type="submit" class="btn btn-success w-100" value="Создать" />
                            </a>
                        </div>
                        <div class="col">
                            <a asp-action="Index" class="btn btn-info w-100">
                                <i class="fa-solid fa-check"></i> Назад
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-4">
                @* Keep this empty *@
            </div>
        </div>
    </div>

</form>

@section Scripts{
    @{
        <partial name="_ValidationScriptsPartial" />
    }

}
